extends ../layout

block content
	nav.flay-navbar
		ul
			li
				input(type='search', id='searchKeyword', placeholder='Search...')
			li
				label
					input(type='checkbox', id='movie', checked='true').sr-only
					span
						i.fa.fa-film
				label
					input(type='checkbox', id='subtitles').sr-only
					span
						i.fa.fa-closed-captioning
			li
				label
					input(type='checkbox', id='favorite', checked='true').sr-only
					span
						i.fa.fa-heart
				label
					input(type='checkbox', id='nofavorite', checked='true').sr-only
					span
						i.fa.fa-heart-o
			li
				label
					input(type='checkbox', id='rank0', name='rank', value='0', checked='true').sr-only
					span
						i.fa.fa-circle
				label
					input(type='checkbox', id='rank1', name='rank', value='1').sr-only
					span
						i.fa.fa-star
				label
					input(type='checkbox', id='rank2', name='rank', value='2').sr-only
					span
						i.fa.fa-star
				label
					input(type='checkbox', id='rank3', name='rank', value='3').sr-only
					span
						i.fa.fa-star
				label
					input(type='checkbox', id='rank4', name='rank', value='4').sr-only
					span
						i.fa.fa-star
				label
					input(type='checkbox', id='rank5', name='rank', value='5').sr-only
					span
						i.fa.fa-star
	.container-flay
		.flay
			.flay-info.horizontal
				.flay-info-studio
					label.flay-studio
				.flay-info-opus
					label.flay-opus
				.flay-info-release
					label.flay-release
				.flay-info-extra
					label.flay-movie
					label.flay-subtitles
					label.flay-score
					label.flay-played
			.flay-info
				.flay-info-rank
					span.flay-rank
						label
							input(type='radio', id='flay-rank-1', name='flay-rank', value='-1').sr-only
							span
								i.fa.fa-thumbs-down
						label
							input(type='radio', id='flay-rank0', name='flay-rank', value='0').sr-only
							span
								i.fa.fa-circle
						label
							input(type='radio', id='flay-rank1', name='flay-rank', value='1').sr-only
							span
								i.fa.fa-star
						label
							input(type='radio', id='flay-rank2', name='flay-rank', value='2').sr-only
							span
								i.fa.fa-star
						label
							input(type='radio', id='flay-rank3', name='flay-rank', value='3').sr-only
							span
								i.fa.fa-star
						label
							input(type='radio', id='flay-rank4', name='flay-rank', value='4').sr-only
							span
								i.fa.fa-star
						label
							input(type='radio', id='flay-rank5', name='flay-rank', value='5').sr-only
							span
								i.fa.fa-star
			.flay-info
				.flay-info-comment
					label.flay-comment
					input.flay-comment-input(type="text", style="display:none;")
				.flay-info-title
					label.flay-title
			.flay-info
				.flay-info-cover
					.flay-cover
			.flay-info
				.flay-info-actress
					.flay-actress
						label.flay-actress-favorite
							input(type='checkbox', name='actressFavorite').sr-only
							span
								i.fa.fa-heart
						label.flay-actress-name
						label.flay-actress-localName
						label.flay-actress-bitth
						label.flay-actress-body
						label.flay-actress-height
						label.flay-actress-debut
			.flay-info
				.flay-info-tag.container.px-0
					label.flay-tag
						input(type="checkbox", id="tag", value="")
						span
	nav.fixed-bottom
		ul.pagination.justify-content-center
			li.page-item
				a.page-link(href="#") 1
			li.page-item.active
				a.page-link(href="#") 2
			li.page-item
				a.page-link(href="#") 3
		.progress(style="height: 2px;")
			.progress-bar.bg-danger.page-bar(role="progressbar", style="width: 0%" aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")

	script(defer, src='/javascripts/flay/flay.home.js')
