extends layout

block content
    .container
        h1 Files
            span#totalCount.badge.text-black 
            span#totalBytes.badge.text-black
        ol#flayList

    script(defer, src = '/javascripts/flay.js')
