<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>flay-js Express Website</title>
		<link rel="stylesheet" href="/css/layout.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script defer src="https://kit.fontawesome.com/673bdd6a2d.js" crossorigin="anonymous"></script>
		<script defer src="/js/layout.js"></script>
		<script defer src="/js/flay/flay.common.js"></script>
		<script defer src="/js/flay/flay.api.js"></script>
	</head>
	<body>
		<script>
			let isDarkThemeActive = false;
			const userDefaultTheme = localStorage.getItem('@flay-jk:theme');
			if (userDefaultTheme && userDefaultTheme == 'true') {
				document.body.classList.add('dark');
				isDarkThemeActive = true;
			}
		</script>
		<header>
			<div></div>
			<div class="left">
				<button id="hamburger">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="hamburgerIcon">
						<path d="M3 8V6H21V8H3Z" fill="currentColor"></path>
						<path d="M3 13H21V11H3V13Z" fill="currentColor"></path>
						<path d="M3 18H21V16H3V18Z" fill="currentColor"></path>
					</svg>
				</button>
			</div>
		</header>
		<aside>
			<div>
				<a href="/" id="logo">
					<img src="/img/flayground-light.svg" />
				</a>
			</div>
			<div class="aside-container">
				<a href="/flay/home">Home</a>
				<a href="/flay/file">Files</a>
				<a href="/flay/list">List</a>
			</div>
			<div class="button-container">
				<button class="theme">
					<div class="light">
						<svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="color: currentcolor">
							<circle cx="12" cy="12" r="5"></circle>
							<path d="M12 1v2"></path>
							<path d="M12 21v2"></path>
							<path d="M4.22 4.22l1.42 1.42"></path>
							<path d="M18.36 18.36l1.42 1.42"></path>
							<path d="M1 12h2"></path>
							<path d="M21 12h2"></path>
							<path d="M4.22 19.78l1.42-1.42"></path>
							<path d="M18.36 5.64l1.42-1.42"></path>
						</svg>
					</div>
					<div class="slider">
						<span aria-hidden="true" class="roller"></span>
					</div>
					<div class="dark">
						<svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="color: currentcolor">
							<path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
						</svg>
					</div>
				</button>
			</div>
		</aside>
		<main>
			<div class="body"><%- body %></div>
		</main>
		<footer></footer>
		<script defer>
			document.querySelector('#hamburger').addEventListener('click', () => {
				document.body.classList.toggle('show-aside');
			});

			document.querySelector('button.theme').addEventListener('click', () => {
				isDarkThemeActive = !isDarkThemeActive;
				localStorage.setItem('@flay-jk:theme', isDarkThemeActive);

				document.body.classList.toggle('dark');
				document.querySelector('button.theme').classList.toggle('dark');

				document.querySelector('#logo img').src = '/img/flayground-' + (isDarkThemeActive ? 'light' : 'dark') + '.svg';
			});

			window.onload = () => {
				if (isDarkThemeActive) {
					document.querySelector('button.theme').classList.toggle('dark');
				}
				document.querySelector('#logo img').src = '/img/flayground-' + (isDarkThemeActive ? 'light' : 'dark') + '.svg';
			};
		</script>
		<%- script %>
	</body>
</html>
