@charset "UTF-8";

@import url(/stylesheets/@/scrollbar.css);
@import url(/stylesheets/@/theme.color-set.css);

body {
	background: #3c3c3c url(/images/flayground1.svg) no-repeat center / 600px;
	min-height: 100vh;
}

header {
	position: sticky;
	top: 0;
	z-index: 1020;
	background-color: var(--color-bg);
	color: var(--color-text);
}

main {
	background-color: var(--color-bg);
	color: var(--color-text);
	padding-bottom: 4rem;
}

footer {
	background-color: var(--color-bg);
	color: var(--color-text);
	text-align: center;
	margin: 0.5rem 1rem;
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

footer > p {
	margin: 0;
	padding: 0;
}

.offcanvas {
	width: 200px;
	background-color: var(--color-bg);
}
