@charset "UTF-8";

@import url(/stylesheets/@/scrollbar.css);

header {
	position: sticky;
	top: 0;
	z-index: 1020;
	background-color: #fff;
	padding: 1rem;
}

main {
	padding-bottom: 4rem;
}

/* ---- File List ---- */
ol#fileList li {
	font-family: D2Coding;
	display: flex;
	gap: 1rem;
}
ol#fileList > li > span.name {
	flex: 0 0 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#fileList > li > span.size {
	flex: 0 0 50px;
	text-align: right;
}
ol#fileList > li > span.time {
	flex: 0 0 auto;
}
ol#fileList > li > span.path {
	flex: 0 0 auto;
}

/* ---- Flay List ---- */
ol#flayList li {
	font-family: D2Coding;
	display: flex;
	gap: 1rem;
}
ol#flayList > li > .studio {
	flex: 0 0 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#flayList > li > .opus {
	flex: 0 0 100px;
}
ol#flayList > li > .title {
	flex: 0 0 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#flayList > li > .actress {
	flex: 0 0 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#flayList > li > .release {
	flex: 0 0 100px;
}

footer {
	background: #f4f4f4;
	text-align: center;
	padding: 0.5rem 1rem;
	overflow: auto;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

footer > p {
	margin: 0;
	padding: 0;
}
