nav.flay-navbar {
  padding: 0;

  ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    margin: 0;
    border: 0;
    padding: 0.5rem 0;
    list-style: none;
    font-size: 1.5rem;
    transition: 0.4s;

    &:hover {
      box-shadow: var(--shadow-gray);
    }

    input[type='search'] {
      padding: 0 0.25rem;
      font-size: 1.25rem;
      text-align: center;
      width: 12rem;
    }

    li > * {
      font-size: 1.25rem;
    }
  }
}

/* 라디오, 체크박스 */
label {
  input {
    &.sr-only ~ span {
      cursor: pointer;
      margin: 0 4px;
    }
    &.sr-only:checked ~ span,
    &.sr-only:checked ~ span > * {
      color: var(--col-check-active);
    }
  }
  &:hover input.sr-only ~ span,
  &:hover input.sr-only ~ span > * {
    color: var(--col-check-hover);
  }
}

input[type='search'],
input[type='text'],
textarea {
  background-color: transparent;
  border: 0;
  font-size: 0.875rem;
  padding: 2px 4px;
}

textarea {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    text-shadow: 1px 1px 2px orange;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
