<link rel="stylesheet" href="./dist/flayManager.css" />
<nav class="flay-navbar">
  <ul>
    <li><input type="search" id="keyword" placeholder="Search keyword..." /></li>
    <li><button id="btnBatch">Batch</button></li>
  </ul>
</nav>
<div>
  <ul id="flaySearchResult"></ul>
  <ul id="videoSearchResult"></ul>
  <ul id="historySearchResult"></ul>
</div>
<script defer src="/dist/flayManager.js"></script>
<script>
  document.title = '<%= title %>';
</script>
