extends ../layout

block content
    .container-fluid
        h1 Flay
            span#totalCount.badge.text-black
            span#totalBytes.badge.text-black
        ol#flayList.list-group.small
            li
                span.studio Studio
                span.opus Opus
                span.title Title
                span.actress Actress
                span.release Release

    script(defer, src = '/javascripts/flay/flayList.js')
