<div class="container-fluid">
	<h1>Files<span class="badge text-black" id="totalCount"></span><span class="badge text-black" id="totalBytes"></span></h1>
	<ol class="list-group small" id="fileList"></ol>
</div>
<!-- <script defer src="/js/flay/flay.files.js"></script> -->
<script defer src="/dist/flayFiles.js"></script>
