<div class="container-fluid">
	<h1>
		Flay
		<span class="badge text-black" id="totalCount"></span>
		<span class="badge text-black" id="totalBytes"></span>
	</h1>
	<ol class="list-group small" id="flayList">
		<li>
			<span class="studio">Studio</span>
			<span class="opus">Opus</span>
			<span class="title">Title</span>
			<span class="actress">Actress</span>
			<span class="release">Release</span>
		</li>
	</ol>
</div>
<script defer src="/javascripts/flay/flay.list.js"></script>
