<link rel="stylesheet" href="./dist/flayList.css" />
<h1>
  Flay
  <span id="totalCount"></span>
  <span id="totalBytes"></span>
</h1>
<ol id="flayList">
  <li>
    <span class="studio">Studio</span>
    <span class="opus">Opus</span>
    <span class="title">Title</span>
    <span class="actress">Actress</span>
    <span class="release">Release</span>
  </li>
</ol>
<script defer src="/dist/flayList.js"></script>
