<nav class="flay-navbar">
	<ul>
		<li>
			<input type="search" id="searchKeyword" placeholder="Search..." />
		</li>
		<li>
			<label>
				<input class="sr-only" type="checkbox" id="movie" checked="true" /><span><i class="fa fa-film" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="subtitles" /><span><i class="fa fa-closed-captioning" aria-hidden="true"></i></span>
			</label>
		</li>
		<li>
			<label>
				<input class="sr-only" type="checkbox" id="favorite" checked="true" /><span><i class="fa fa-heart" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="nofavorite" checked="true" /><span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
			</label>
		</li>
		<li>
			<label>
				<input class="sr-only" type="checkbox" id="rank0" name="rank" value="0" checked="true" /><span><i class="fa fa-circle" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="rank1" name="rank" value="1" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="rank2" name="rank" value="2" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="rank3" name="rank" value="3" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="rank4" name="rank" value="4" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
			</label>
			<label>
				<input class="sr-only" type="checkbox" id="rank5" name="rank" value="5" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
			</label>
		</li>
	</ul>
</nav>
<div class="container-flay">
	<div class="flay">
		<div class="flay-info horizontal">
			<div class="flay-info-studio">
				<label class="flay-studio">IdeaPocket</label>
			</div>
			<div class="flay-info-opus">
				<label class="flay-opus">IPX-749</label>
			</div>
			<div class="flay-info-release">
				<label class="flay-release">2021.10.12</label>
			</div>
			<div class="flay-info-extra">
				<label class="flay-movie">5.4 <span>GB</span></label>
				<label class="flay-subtitles subtitles-empty">noS</label>
				<label class="flay-score" style="display: none"></label>
				<label class="flay-played">1p</label>
			</div>
		</div>
		<div class="flay-info">
			<div class="flay-info-rank"
				><span class="flay-rank">
					<label>
						<input class="sr-only" type="radio" id="flay-rank-1" name="flay-rank" value="-1" /><span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
					</label>
					<label>
						<input class="sr-only" type="radio" id="flay-rank0" name="flay-rank" value="0" /><span><i class="fa fa-circle" aria-hidden="true"></i></span>
					</label>
					<label>
						<input class="sr-only" type="radio" id="flay-rank1" name="flay-rank" value="1" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
					</label>
					<label>
						<input class="sr-only" type="radio" id="flay-rank2" name="flay-rank" value="2" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
					</label>
					<label>
						<input class="sr-only" type="radio" id="flay-rank3" name="flay-rank" value="3" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
					</label>
					<label>
						<input class="sr-only" type="radio" id="flay-rank4" name="flay-rank" value="4" /><span><i class="fa fa-star" aria-hidden="true"></i></span>
					</label>
					<label>
						<input class="sr-only" type="radio" id="flay-rank5" name="flay-rank" value="5" /><span><i class="fa fa-star" aria-hidden="true"></i></span> </label></span
			></div>
		</div>
		<div class="flay-info">
			<div class="flay-info-comment">
				<label class="flay-comment comment-empty">Comment</label>
				<input class="flay-comment-input" type="text" style="display: none" />
			</div>
			<div class="flay-info-title">
				<label class="flay-title">미인 교사 아이리 선생님 키스 강의 개인 레슨 유혹 베로키스 질내 사정 SEX</label>
			</div>
		</div>
		<div class="flay-info">
			<div class="flay-info-cover">
				<div class="flay-cover" style="background-image: url('/api/cover/IPX-749')"></div>
			</div>
		</div>
		<div class="flay-info">
			<div class="flay-info-actress"
				><div class="flay-actress">
					<label class="flay-actress-favorite">
						<input type="checkbox" name="actressFavorite" class="sr-only" checked="" />
						<span><i class="fa fa-heart" aria-hidden="true"></i></span>
					</label>
					<label class="flay-actress-name">Kijima Airi</label>
					<label class="flay-actress-localName">希島あいり</label>
					<label class="flay-actress-birth">1988年12月24日</label>
					<label class="flay-actress-body">81C - 58 - 87</label>
					<label class="flay-actress-height">160</label>
					<label class="flay-actress-debut">2013</label>
				</div></div
			>
		</div>
		<div class="flay-info">
			<div class="flay-info-tag container px-0"></div>
		</div>
	</div>
</div>
<nav class="fixed-bottom">
	<ul class="pagination justify-content-center">
		<li class="page-item">
			<a class="page-link" href="javascript: goPage(0)">1</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="javascript: goPage(124)">125</a>
		</li>
		<li class="page-item active">
			<a class="page-link" href="javascript: goPage(125)">126</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="javascript: goPage(126)">127</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="javascript: goPage(351)">352</a>
		</li>
	</ul>
	<div class="progress" style="height: 2px">
		<div class="progress-bar bg-danger page-bar" role="progressbar" style="width: 35.7955%" aria-valuenow="35.79545454545455" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</nav>
<script defer="" src="/javascripts/flay/flay.home.js"></script>
