extends ../layout

block content
    .container-fluid
        h1 Files
            span#totalCount.badge.text-black
            span#totalBytes.badge.text-black
        ol#fileList.list-group.small

    script(defer, src = '/javascripts/flay/flay.files.js')
