:focus-visible {
  outline: none;
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.progress {
  display: flex;

  .progress-bar {
    display: flex;
    transition: width 0.6s ease;
  }
}

.fw-700 {
  font-weight: 700;
}

.collapse {
  display: none;

  &.show {
    display: block;
  }
}

.bordered {
  border: 1px solid var(--gray-2);
  border-radius: 4px;
}

.box-shadow {
  box-shadow: 2px 2px 8px 2px var(--gray-2);
}

.link:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px orangered;
}

@each $item in (m-1: 0.25rem, m-2: 0.5em, m-3: 1em, m-4: 2rem) {
  .#{nth($item, 1)} {
    margin: nth($item, 2) !important;
  }
}
@each $item in (mx-1: 0.25rem, mx-2: 0.5em, mx-3: 1em, mx-4: 2rem) {
  .#{nth($item, 1)} {
    margin-left: nth($item, 2) !important;
    margin-right: nth($item, 2) !important;
  }
}
@each $item in (my-1: 0.25rem, my-2: 0.5em, my-3: 1em, my-4: 2rem) {
  .#{nth($item, 1)} {
    margin-top: nth($item, 2) !important;
    margin-bottom: nth($item, 2) !important;
  }
}
@each $item in (mt-1: 0.25rem, mt-2: 0.5em, mt-3: 1em, mt-4: 2rem) {
  .#{nth($item, 1)} {
    margin-top: nth($item, 2) !important;
  }
}
@each $item in (ml-1: 0.25rem, ml-2: 0.5em, ml-3: 1em, ml-4: 2rem) {
  .#{nth($item, 1)} {
    margin-left: nth($item, 2) !important;
  }
}
@each $item in (mr-1: 0.25rem, mr-2: 0.5em, mr-3: 1em, mr-4: 2rem) {
  .#{nth($item, 1)} {
    margin-right: nth($item, 2) !important;
  }
}
@each $item in (mb-1: 0.25rem, mb-2: 0.5em, mb-3: 1em, mb-4: 2rem) {
  .#{nth($item, 1)} {
    margin-bottom: nth($item, 2) !important;
  }
}

@each $item in (p-1: 0.25rem, p-2: 0.5em, p-3: 1em, p-4: 2rem) {
  .#{nth($item, 1)} {
    padding: nth($item, 2) !important;
  }
}
@each $item in (px-1: 0.25rem, px-2: 0.5em, px-3: 1em, px-4: 2rem) {
  .#{nth($item, 1)} {
    padding-left: nth($item, 2) !important;
    padding-right: nth($item, 2) !important;
  }
}
@each $item in (py-1: 0.25rem, py-2: 0.5em, py-3: 1em, py-4: 2rem) {
  .#{nth($item, 1)} {
    padding-top: nth($item, 2) !important;
    padding-bottom: nth($item, 2) !important;
  }
}
@each $item in (pt-1: 0.25rem, pt-2: 0.5em, pt-3: 1em, pt-4: 2rem) {
  .#{nth($item, 1)} {
    padding-top: nth($item, 2) !important;
  }
}
@each $item in (pb-1: 0.25rem, pb-2: 0.5em, pb-3: 1em, pb-4: 2rem) {
  .#{nth($item, 1)} {
    padding-bottom: nth($item, 2) !important;
  }
}
@each $item in (pl-1: 0.25rem, pl-2: 0.5em, pl-3: 1em, pl-4: 2rem) {
  .#{nth($item, 1)} {
    padding-left: nth($item, 2) !important;
  }
}
@each $item in (pr-1: 0.25rem, pr-2: 0.5em, pr-3: 1em, pr-4: 2rem) {
  .#{nth($item, 1)} {
    padding-right: nth($item, 2) !important;
  }
}
