@charset "UTF-8";

/* ---- File List ---- */
ol#fileList li {
	font-family: D2Coding;
	display: flex;
	gap: 1rem;
}
ol#fileList > li > span.name {
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#fileList > li > span.size {
	flex: 0 0 50px;
	text-align: right;
}
ol#fileList > li > span.time {
	flex: 0 0 100px;
}
ol#fileList > li > span.path {
	flex: 0 0 auto;
}
