@charset "UTF-8";

* {
	transition: background-color 0.4s;
}

body {
	background-color: var(--color-bg);
}

a,
.nav-link {
	color: var(--color-text);
}

:focus-visible {
	outline: none;
}

/* 라디오, 체크박스 */
label input.sr-only:checked ~ span {
	color: var(--color-text-active);
}

label:hover input.sr-only ~ span {
	cursor: pointer;
	color: var(--color-text-hover);
}
