@charset "UTF-8";

.flay-navbar {
	padding: 0.5rem 1rem;
	background-color: var(--color-bg-page);
	color: var(--color-text);
}
.flay-navbar:hover {
	background-color: var(--color-bg-page-hover);
}
.flay-navbar ul {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 2rem;
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
	font-size: 2rem;
}

/* 검색어 */
.flay-navbar input[type='search'] {
	background-color: transparent;
	border: 0;
	padding: 0 0.25rem;
	width: 10rem;
}

.container-flay {
	display: flex;
	justify-content: center;
}

.container-flay .flay .flay-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* 커버 */
.container-flay .flay .flay-cover {
	background: transparent no-repeat center;
	background-size: contain;
	border: 1px solid var(--color-border-card);
	margin: 1rem 0;
	width: 800px;
	aspect-ratio: 800 / 538;
	transition: background 0.2s ease-out;
}

/* 라벨 공통 */
.container-flay .flay .flay-info label {
	background-color: var(--color-bg-label);
	border-radius: 0.5rem;
	color: var(--color-text);
	margin: 0.25rem;
	border: 0;
	padding: 0.25rem 0.5rem;
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;
	text-shadow: 1px 1px 1px var(--color-text-shadow), 0 0 4px var(--color-text-shadow);
}

/* 자막 유무 */
.container-flay .flay .flay-info .flay-info-extra .flay-subtitles.subtitles-empty {
	color: var(--color-text-empty);
}

/* 랭크 */
.container-flay .flay .flay-info .flay-info-rank .flay-rank {
	display: flex;
}
.container-flay .flay .flay-info .flay-info-rank .flay-rank label {
	margin: 0.25rem 0;
}

/* 커멘트 */
.container-flay .flay .flay-info .flay-info-comment .flay-comment.comment-empty {
	color: var(--color-text-empty);
}
.container-flay .flay .flay-info .flay-info-comment .flay-comment-input {
	margin: 0.25rem;
	border: 1px solid var(--color-border-card);
	height: 38px;
}

/* 배우 */
.container-flay .flay .flay-info .flay-info-actress .flay-actress {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.container-flay .flay .flay-info .flay-info-actress .flay-actress label {
	font-size: 1rem;
}

/* 태그 */
.container-flay .flay .flay-info .flay-info-tag {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25rem;
}
.container-flay .flay .flay-info .flay-info-tag .flay-tag {
	border-radius: 0.25rem;
	font-size: 0.875rem;
	margin: 0.25rem;
	padding: 0.25rem;
	transition: box-shadow 0.2s;
}
.container-flay .flay .flay-info .flay-info-tag .flay-tag:hover {
	box-shadow: 2px 3px 8px 0px var(--color-box-shadow);
}

/* 페이지네이션 */
.pagination .page-item .page-link {
	background-color: var(--color-bg);
	color: var(--color-text);
	border-color: var(--color-border-card);
	min-width: 3rem;
	text-align: center;
	font-size: 0.875rem;
}
.pagination .page-item.active .page-link {
	border-color: var(--color-border-card);
	color: var(--color-text-active);
}

/* 닞은 높이에서 수평으로 배열 */
@media screen and (max-height: 1440px) {
	.container-flay .flay .flay-info.horizontal {
		flex-direction: row;
	}
}
