@charset "UTF-8";

/* ---- Flay List ---- */
ol#flayList li {
	font-family: D2Coding;
	display: flex;
	align-items: baseline;
	gap: 1rem;
}
ol#flayList > li:first-child {
	font-weight: 700;
	border-bottom: 1px solid #eee;
	margin-bottom: 0.5rem;
}
ol#flayList > li > .studio {
	flex: 0 0 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#flayList > li > .opus {
	flex: 0 0 100px;
}
ol#flayList > li > .title {
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#flayList > li > .actress {
	flex: 0 0 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ol#flayList > li > .release {
	flex: 0 0 100px;
}
